{% import '_/buttons.html.twig' as buttons %}

{{ form_start(form) }}
{{ form_errors(form) }}

{# --- Vue app ---> #}
<div id="app"></div>
{# <--- Vue app --- #}

<h3>Data</h3>

{{ form_row(form.name) }}

{#<div class="row">#}
{#    <div class="col">#}
{#        {{ form_row(form.name) }}#}
{#    </div>#}
{#    <div class="col">#}
{#        {{ form_row(form.city) }}#}

{#    </div>#}
{#</div>#}
<div class="row">
    <div class="col">
        {{ form_row(form.lat) }}
    </div>
    <div class="col">
        {{ form_row(form.lon) }}

    </div>
</div>
{#    {{ form_widget(form) }}#}

{#{{ form_end(form) }}#}
{{ form_widget(form._token) }}
{# don't render unrendered fields #}
{{ buttons.ok(button_label|default('Save'|trans)) }}
{{ form_end(form, {'render_rest': false}) }}
