<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">F</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        {% if is_granted('ROLE_AGENT') %}
        <ul class="navbar-nav mr-auto">
            {# <li class="nav-item"> #}
            {# <a class="nav-link" href="#">Link</a> #}
            {# </li> #}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('map') }}">Map</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" role="button">
                    Setup
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ path('waypoint_index') }}">Waypoints</a>
                    <a class="dropdown-item" href="{{ path('key_index') }}">Keys</a>
                    <a class="dropdown-item" href="{{ path('user_index') }}">Users</a>
                </div>
            </li>
            {% endif %}
        </ul>
        {% endif %}
{#        <form class="form-inline my-2 my-lg-0">#}
{#            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#        </form>#}
    </div>

    <div class="ml-auto">
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_USER') %}
                {% if false %}
                    <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">
                        {% if app.user.avatarEncoded %}
                            <img src="{{ app.user.avatarEncoded }}" height="24" alt="Avatar">
                        {% else %}
                            <span class="oi oi-person"></span>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-dark">
                    <a class="dropdown-item nav-link" href={{ path('app_account') }}>
                        <span class="oi oi-person"></span> {{ 'My Profile'|trans }}
                        {# {{ app.user.agent.nickname }} #}
                    </a>
                    <a class="dropdown-item nav-link" href={{ path('agent_stats', {'id': app.user.agent.id}) }}>
                        <span class="oi oi-graph"></span> {{ 'My Stats'|trans }}
                    </a>
                    <a class="dropdown-item nav-link" href={{ path('stat_import') }}>
                        <span class="oi oi-cloud-upload"></span> {{ 'Import Stats'|trans }}
                    </a>
                    <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item nav-link" href="{{ path('app_logout') }}">
                    <span class="oi oi-account-logout"></span> {{ 'Logout'|trans }}
                </a>
                </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ path('app_login') }}" class="nav-link">{{ 'Login'|trans }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

